# Dependency directories
node_modules

# Logs
npm-debug.log

# Docker metadata
Dockerfile
.dockerignore

# Git metadata
.git
.gitignore

# Local configuration and documentation
.env
*.md

# macOS metadata
.DS_Store
